{{#partial "content"}}
    <div class="landing-page">
        <div class="page-l">
        </div>
        <div class="page-r">
        </div>
        <div class="hero-img"></div>
        <div class="hero-desc">
            <h3>We make you a Hero</h3>
            <a href="/hero-form"><button class="hero-btn btn">Create a hero</button> </a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}