{{#partial "content"}}
    <div class="landing-page">
        <div class="page-l">
        </div>
            <div class="page-r">
            </div>
        <div class="hero-starts">
            <h1>{{hero.name}}</h1>
            <div class="hero-Charts">
                <div class="defence">Defence <br><span class="def-cnt"></span></div>
                <div class="distance">Distance <br><span class="dis-cnt"></span></div>
                <div class="defence">Attack <br><span class="atc-cnt"></span></div>
            </div><br><br>
            <a href="/hero"><button class="btns back">Exit</button></a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}