{{#partial "content"}}
    <div class="landing-page">
        <div class="page-l"></div>
        <div class="page-r"></div>
        <div class="success">
            <h3>Success <br><span>{{item}}</span><br>Has been created<br>{{sqId}}</h3>
            <a class="btns btn-success" href="/hero">View Heroes</a>
            <a class="btns btn-primary" href="/squad">View Squads</a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}